.root {
    -fx-background-color: #e1e8f8;
}
.logo-icon {
    -fx-background-color: #44AA99;
    -fx-background-image: url("/images/colourblind-logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: contain;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}
.big-logo {
    -fx-background-color: #34887A;
    -fx-background-image: url("/images/colourblind-big-logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: contain;
}

.title-bar, .popup-title-bar {
    -fx-background-color: #44AA99;
    -fx-spacing: 10;
    -fx-padding: 8;
}
.title-bar .label {
    -fx-text-fill: #e1e8f8;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
.popup-title-bar .label {
    -fx-text-fill: #e1e8f8;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}
.minimise-button, .maximise-button, .close-button {
    -fx-background-color: transparent;
    -fx-text-fill: #e1e8f8;
}
.minimise-button:hover, .maximise-button:hover {
    -fx-background-color: #34887A;
}
.close-button:hover {
    -fx-background-color: #882255;
}
.custom-date-picker {
    -fx-font-size: 14;
    -fx-background-insets: 0;
    -fx-border-color: #9da0b0;
    -fx-border-radius: 5;
    -fx-background-color: #d5dcec;
}
.custom-date-picker .text-field {
    -fx-background-color: #d5dcec;
}
.custom-date-picker .arrow-button {
    -fx-background-color: #44AA99;
    -fx-background-radius: 5;
}
.custom-date-picker .arrow-button:hover {
    -fx-background-color: #34887A;
}
.custom-date-picker .arrow-button .arrow {
    -fx-background-color: #e1e8f8;
}
.custom-date-picker .date-picker-popup {
    -fx-background-color: #44AA99;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 5;
}
.custom-date-picker .date-picker-popup .calendar-grid {
    -fx-background-color: #e1e8f8;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.custom-date-picker .date-picker-popup .calendar-grid > .date-cell:hover {
    -fx-background-color: #44AA99;
    -fx-text-fill: #e1e8f8 !important;
}
.custom-date-picker .date-picker-popup .calendar-grid > .date-cell.day-name-cell:hover,
.custom-date-picker .date-picker-popup .calendar-grid > .date-cell.week-number-cell:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #88CCEE !important;
}
.custom-date-picker .date-picker-popup .calendar-grid .date-cell.day-name-cell,
.custom-date-picker .date-picker-popup .calendar-grid .date-cell.week-number-cell {
    -fx-text-fill: #88CCEE;
}
.custom-date-picker .date-picker-popup .calendar-grid .date-cell.next-month,
.custom-date-picker .date-picker-popup .calendar-grid .date-cell.previous-month {
    -fx-text-fill: #9da0b0;
}
.custom-date-picker .date-picker-popup .calendar-grid .date-cell.today {
    -fx-border-color: #44AA99;
}
.custom-date-picker .date-picker-popup .month-year-pane {
    -fx-background-color: #44AA99;
    -fx-text-fill: #e1e8f8;
}
.custom-date-picker .date-picker-popup .month-year-pane .spinner .label {
    -fx-text-fill: #e1e8f8;
}
.custom-date-picker .date-picker-popup .month-year-pane .spinner .button StackPane {
    -fx-background-color: #e1e8f8;
}
.custom-date-picker .date-picker-popup .month-year-pane .spinner .button:hover,
.custom-date-picker .date-picker-popup .month-year-pane .spinner .button:focused {
    -fx-background-color: #44AA99;
}

.custom-date-picker .date-picker-popup .month-year-pane .spinner .button:hover StackPane{
    -fx-background-color: #9da0b0;
}

.custom-date-picker .date-picker-popup .calendar-grid .date-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}
.custom-box {
    -fx-background-color: #d5dcec ;
    -fx-background-radius: 10;
    -fx-padding: 20;
}
.custom-theme-box {
    -fx-background-color: #34887A;
}
.custom-scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.custom-scroll-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.custom-scroll-pane .viewport {
    -fx-background-color: #e1e8f8;
}
.custom-scroll-pane .thumb {
    -fx-background-color: #9da0b0;
    -fx-background-radius: 5;
}
.custom-scroll-pane .track {
    -fx-background-color: #e1e8f8;
}
.custom-scroll-pane .scroll-bar {
    -fx-background-color: #e1e8f8;
}
.custom-scroll-pane .increment-button,
.custom-scroll-pane .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.custom-scroll-pane .increment-button .increment-arrow,
.custom-scroll-pane .decrement-button .decrement-arrow {
    -fx-background-color: #9da0b0;
    -fx-effect: none;
}
.custom-text-field, .custom-password-field {
    -fx-background-color: #d5dcec;
    -fx-border-color: #9da0b0;
    -fx-prompt-text-fill: #9da0b0;
    -fx-background-insets: 0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.custom-progress-bar {
    -fx-border-color: #9da0b0;
    -fx-background-insets: 0;
    -fx-border-radius: 8;
}
.custom-progress-bar .track {
    -fx-background-color: #d5dcec;
}
.custom-progress-bar .bar {
    -fx-background-color: #44AA99;
    -fx-background-radius: 8;
}
.bold-label {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
.custom-button {
    -fx-background-color: #44AA99;
    -fx-border-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: #e1e8f8;
    -fx-padding: 3 7;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.campaign-label {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: black;
}
.campaign-label:hover {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #44AA99;
}
.custom-menu-button  {
    -fx-background-color: #44AA99;
    -fx-border-color: black;
    -fx-background-insets: 0;
    -fx-padding: 3 7;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.custom-menu-button .label,
.custom-combo-box .list-cell, .custom-check-combo-box > .combo-box .list-cell {
    -fx-text-fill: #e1e8f8;
}
.custom-combo-box, .custom-check-combo-box > .combo-box {
    -fx-background-color: #44AA99;
    -fx-border-color: black;
    -fx-background-insets: 0;
    -fx-padding: 3 7;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.custom-combo-box .combo-box-popup .list-view,
.custom-combo-box .combo-box-popup .list-view .list-cell,
.custom-check-combo-box > .combo-box .combo-box-popup .list-view,
.custom-check-combo-box > .combo-box .combo-box-popup .list-view .list-cell,
.custom-menu-button .context-menu,
.custom-menu-button .context-menu .menu-item {
    -fx-background-color: #44AA99;
}
.custom-check-combo-box > .combo-box .combo-box-popup .list-view .list-cell .check-box,
.custom-check-combo-box > .combo-box .combo-box-popup .list-view .list-cell .check-box .box {
    -fx-background-color: #e1e8f8;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.custom-combo-box .combo-box-popup .list-view .list-cell:hover,
.custom-check-combo-box > .combo-box .combo-box-popup .list-view .list-cell:hover,
.custom-menu-button .context-menu .menu-item:hover {
    -fx-background-color: #34887A;
}
.custom-menu-button .arrow,
.custom-combo-box .arrow,
.custom-check-combo-box > .combo-box .arrow {
    -fx-background-color: #e1e8f8;
}
.custom-button:hover,
.custom-menu-button:hover,
.custom-combo-box:hover,
.custom-check-combo-box > .combo-box:hover {
    -fx-background-color: #34887A;
}
.custom-radio-button .radio {
    -fx-background-color: #d5dcec;
    -fx-background-insets: 0;
    -fx-border-color: #9da0b0;
    -fx-shape: "M0,5 a5,5 0 1,0 10,0 a5,5 0 1,0 -10,0";
}
.custom-radio-button:selected .radio .dot {
    -fx-background-color: #44AA99;
}
.custom-radio-button .text {
    -fx-fill: #000000;
}
.custom-radio-button:selected .radio {
    -fx-background-color: #44AA99;
    -fx-border-color: #000000;
}
.metric-vbox {
    /*-fx-background-color: #F4D500;*/
    -fx-background-color: #88CCEE;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-insets: 0;
    -fx-padding: 3 7;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-alignment: top-center;
    -fx-spacing: 10;
}
.metric-vbox .label {
    -fx-text-fill: #e1e8f8;
    -fx-font-size: 20;
}
.filter-container {
    -fx-border-color: black;
    -fx-border-width: 1px;
}
.successful-button {
    -fx-background-color: #117733;
}
.successful-button:hover {
    -fx-background-color: #0C5F28;
}
.custom-check-box {
    -fx-text-fill: black;
}
.custom-check-box .box {
    -fx-border-color: #9da0b0;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-background-color: #e1e8f8;
}
.custom-check-box:selected .mark {
    -fx-background-color: #44AA99; /* the tick */
}